* {
  margin: 0;
  padding: 0;
}

.section {
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 1368px;
  display: flex;
  flex-direction: column;
}

.navbar {
  position: fixed;
}

.nav {
  display: flex;
  width: 100%;
  height: 100px;
}

.nav_image {
  width: 40%;
  display: flex;
  align-items: center;
}

.logo {
  width: 31px;
  height: 25px;
  margin-left: 100px;
}

.nav_links {
  width: 60%;
  display: flex;
  justify-content: right;
  margin-right: 100px;
  align-items: center;
}

.nav_links ul a {
  text-decoration: none;
  margin-left: 15px;

}

.nav ul>li {
  display: inline-block;
}

a:visited {
  color: #191919;
}

.nav_links ul a:active {
  color: #10c9c3;
}

.main {
  width: 100%;
  height: 570px;
  box-sizing: border-box;
  padding-top: 100px;
  display: flex;
  background-image: url(images/pexels-photo-1902415.jpg);
}

.title {
  font-family: Montserrat;
  font-size: 38px;
  font-weight: 500;
  line-height: 2.8;
  letter-spacing: 0.3px;
  color: #191919;
}

.under_title {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.2px;
  line-height: 2;
  text-decoration-color: #191919;
}

.main_left {
  width: 50%;
  height: auto;
}

.main_right {
  width: 50%;
  height: auto;
  padding-top: 100px;
  margin-left: 100px;
}

.main_right_hero {
  font-family: Montserrat;
  letter-spacing: 0.38px;
  font-size: 38px;
  margin-left: 80px;
  font-weight: 500;
}

.main_right_text {
  box-sizing: border-box;
  font-family: NunitoSans;
  font-weight: normal;
  font-size: 18px;
  padding-top: 30px;
  padding-right: 120px;
  margin-left: 80px;
  color: #787878;
}

.main_right_button {
  width: 180px;
  height: 50px;
  margin-left: 80px;
  margin-top: 30px;
  border: none;
  color: white;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1.2px;
  background-color: #10c9c3;
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 40px;
  color: #191919;
}

.about_title {
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 500;
  line-height: 2.8;
  letter-spacing: 0.3px;
  color: #191919;
}

.about_text {
  width: 620px;
  height: 60px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: NunitoSans;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.08px;
  color: #787878;
}

.about_signature {
  width: 220px;
  height: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 100px;
}

.skills {
  display: flex;
  flex-direction: row;
}
.skills_left {
  width: 50%;
  background-color: #f8f9f9;
  padding: 160px 100px 100px 100px;
}
.skills_diagram{
margin-top: 36px;
margin-bottom: 40px;
}
.percentage_container{
  width: 100%;
  background-color: #d8d8d8;
}
.percentage_line_ux {
  height: 3px;
  background-color: #74dfdb;
  width: 75%;
}
.percentage_line_web {
  height: 3px;
  background-color: #74dfdb;
  width: 90%;
}
.percentage_line_marketing {
  height: 3px;
  background-color: #74dfdb;
  width: 65%;
}

.skills_right {
  width: 50%;
  background-image: url(images/pngtree-shadow.jpg);
  background-repeat: no-repeat ;
}

/* .skill_image {
  width: 680px;
  height: auto;
} */

.achievements {
  width: 100%;
  height: 240px;
  display: flex;
  background-color: #10c9c3;
}

.achievement_item {
  width: 25%;
  /* border: 1px solid white; */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.achievement_item_image {
  width: 40px;
  height: 40px;
}

.achievement_item_legend {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}






.works {
  height: 600px;
  background-color: yellowgreen;
  display: flex;
  flex-wrap: wrap;
}


.works_item {
  border: 1px solid white;
  display: flex;
  color: grey;
}

.works_item_image {
  box-sizing: border-box;
  width: 340px;
  height: 299px;
}







.load_more_works {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8e8e8e;
}

.footer {
  width: 100%;
  height: 285px;
  background-color: black;
}

/* hitted navbar */

html[data-scroll='not-top'] .navbar {
  background-color: #f8f9f9;;
  height: 50px;
}